<div nz-row [nzGutter]="25">
  <!-- skeleton -->
  <ng-template #loadingSkeleton>
    <nz-skeleton
      class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]"
      [nzShape]="circle"
      [nzActive]="true"
      [nzParagraph]="{ rows: 4 }"
    ></nz-skeleton>
  </ng-template>

  <div nz-col nzXs="24" nzXXl="12" class="w-full [&>.ant-skeleton]:mb-[25px]">
    <ng-container *ngIf="showContent; else loadingSkeleton">
      <nz-overview></nz-overview>
    </ng-container>
  </div>

  <div nz-col nzXs="10" nzXXl="8" class="w-full mb-[25px]">
    <ng-container *ngIf="showContent; else loadingSkeleton">
      <doughnut-chart></doughnut-chart>
    </ng-container>
  </div>

  <!-- Colonne pour nz-saleLocation -->
  <div nz-col nzXs="12" nzXXl="6" class="w-full mb-[25px]">
    <ng-container *ngIf="showContent; else loadingSkeleton">
      <nz-saleLocation [componentId]="'component2'"></nz-saleLocation>
    </ng-container>
  </div>
</div>
